<div ng-controller='myCtr'>
    
    <form>
        {{model.item_text}}
        <input type="text" ng-model="model.item.name_text" >
        </br>
        <input type="button" ng-click="controller.save()" value="Save" />
    </form>
    
    <table>
        <thead>
            <tr><th>Id</th><th>Name</th></tr>
        </thead>
        <tbody>
            <tr ng-repeat="mydata in itemsList">
                <td>{{mydata.id}}</td><td>{{mydata.name_text}} hello</td>
            </tr>
        </tbody>
    </table>


 </div>